/* PREFS */

:root {
  /* Color palette - light */
  --color-bg: #fff;
  --color-bg-secondary: #E3EFF3d0;
  --color-fg: #000;
  --color-fg-unemph: #ABBCBF;
  --color-fg-title: #020f12ff;
  --color-fg-active: #13778B;
  --color-fg-link: #166e9d;
  --color-fg-link-visited: #002235ff;
  --color-fg-action: #883e1eff;
  --color-fg-action-secondary: #5d280fff;
  /* Fonts-Default */
  --font-default-sans: 'Helvetica', 'Arial', sans-serif;
  --font-default-serif: serif;
  /* Fonts */
  --font-family-header: var(--font-default-sans);
  --font-family-footer: var(--font-default-sans);
  --font-family-navbar: var(--font-default-sans);
  --font-family-menu: var(--font-default-sans);
  --font-size-body: 16px;
  --font-family-body-heading: var(--font-default-serif);
  --font-family-body: var(--font-default-serif);
  --font-line-height-body: 1.4;
  --font-family-article: serif;
  /* Dimensions */
  --dimension-content-width: 55rem;
  --dimension-content-max-width: 89.8vw;
  --dimension-content-margin: 1rem auto 1rem 5vw;
  --dimension-navbar-padding: 4rem;
  --border-radius-large: 2rem;
  --border-radius-medium: 1.2rem;
  --border-radius-small: 0.6rem;
  /* Misc */
  --blur-intensity: 0.3rem;
  --text-hyphens-body: none;
  --text-align-body: justify;
  --box-shadow-medium: 0 0.05rem 0.6rem rgba(0, 0, 0, 0.3);
  --box-shadow-large: 0 0.05rem 2rem rgba(0, 0, 0, 0.4);
  --color-overlay: rgba(255, 255, 255, 0.95);
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
  /* Color palette - dark */
    --color-bg: #182123;
    --color-bg-secondary: #182A2Ee0;
    --color-fg: #a7babaff;
    --color-fg-unemph: #2A464B;
    --color-fg-title: #fff;
    --color-fg-active: #17a5c1ff;
    --color-fg-link: #2393cfff;
    --color-fg-link-visited: #166e9dff;
    --color-fg-action: #db7e56ff;
    --color-fg-action-secondary: #a76244ff;
    --color-overlay: rgba(0, 0, 0, 0.85);
  }
}

/* Medium */
@media screen and (max-width: 70rem) {
  :root {
  }
}

/* Small */
@media screen and (max-width: 40rem) {
  :root {
  }
  nav .label {
    display: none;
  }
}

/* Portrait */
@media screen and (orientation: portrait) {
  :root {
  }
  nav .label {
    display: none;
  }
}

/* BODY */

body {
  text-align: var(--text-align-body);
  hyphens: var(--text-hyphens-body);
  margin: var(--dimension-content-margin);
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
  line-height: var(--font-line-height-body);
  width: var(--dimension-content-width);
  max-width: var(--dimension-content-max-width);
  padding-bottom: var(--dimension-navbar-padding);
}

h1,h2,h3,h4 {
  text-align: left;
  font-weight: bold;
  font-family: var(--font-family-body-heading);
  color: var(--color-fg-title);
}

a {
  color: var(--color-fg-link);
  text-decoration: none;
}

/* NAVBAR */

#navbar {
  border: 1px solid var(--color-fg-unemph);
  box-shadow: var(--box-shadow-medium);
  border-radius: var(--border-radius-medium);
  background-color: var(--color-bg-secondary);
  backdrop-filter: blur(var(--blur-intensity));
  -webkit-backdrop-filter: blur(var(--blur-intensity));
  position: fixed;
  z-index: 1000;
  max-width: var(--dimension-content-width);
  width: 90vw;
  bottom: 2%;
  left: 5%;
}

#navbar-list {
  font-family: var(--font-family-navbar);
  font-size: 0.95rem;
  display: flex;
  gap: 3rem;
  list-style: none;
  padding: 0.8rem 0;
  margin: 0;
  justify-content: center;
}

#navbar-list a {
  transition: all 0.2s ease;
  text-decoration: none;
  color: var(--color-fg-unemph);
}

#navbar-list a:hover {
  color: var(--color-fg);
}

#navbar-list a.active {
  color: var(--color-fg-active);
}

#navbar-list .icon {
  vertical-align: middle;
  font-size: 1.4rem;
  padding: 0 0.2rem;
}

#navbar-menu {
  transition: all 0.2s ease;
  font-family: var(--font-family-menu);
  justify-content: left;
  margin: 0rem 2rem;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

#navbar-menu.active {
  transition: all 0.2s ease;
  margin: 0.8rem 2rem;
  overflow-y: scroll;
  max-height: 20rem;
  opacity: 1;
}

#generated-navbar-toc ol {
  padding-left: 1rem;
}

#generated-navbar-toc ol li {
  padding-top: 0.8rem;
}

/* HEADER */

#site-title-slogan {
  border-bottom: 1px solid var(--color-fg);
  padding: 0 0 0.1rem 0;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

#site-title-slogan h1,
#site-title-slogan p {
  margin: 0;
  font-family: var(--font-family-header);
  text-align: left;
  color: var(--color-fg);
}

#site-title-slogan p {
  line-height: 0.85rem;
  font-size: 0.7rem;
  max-width: 7.5rem;
}

.page-front-matter {
  text-align: center;
  padding: 1rem 0;
}

.page-front-matter h1 {
  margin: 0;
  padding-top: 1rem;
}

/* FOOTER */

footer {
  font-size: 0.9rem;
  font-family: var(--font-family-footer);
  text-align: center;
  color: var(--color-fg-unemph);
}

/* MISC */

mjx-container {
  display: inline-grid;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

blockquote {
  font-size: 0.85rem;
  margin: 0 1rem;
}

/* IMAGES */

img {
  display: block;
  margin: 2rem auto;
  width: 100%;
  max-width: 36rem;
}

a:hover {
  cursor: pointer;
}

/* HOME - CAROUSEL */

.carousel {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel-track {
  display: flex;
  gap: 1rem;
  padding: 0.8rem 0;
}

.card {
  position: relative;
  flex: 0 0 auto;
  overflow: hidden;
  scroll-snap-align: start;
  background: var(--color-bg-secondary);
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--color-fg-unemph);
  width: 15rem;
  height: 9rem;
  transition: all 0.2s ease;
}

.card::before {
  content: "";
  inset: 0;
  position: absolute;
  background: linear-gradient(to top, var(--color-overlay) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}

.card:hover {
  border: 1px solid var(--color-fg);
}

.card-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80%;
  padding: 1rem;
}

.card-content h3 {
  font-family: var(--font-default-sans);
  margin: 0;
  font-size: 1.1rem;
  color: var(--color-fg-title);
}

.card-content small {
  font-family: var(--font-default-sans);
  font-size: 0.7rem;
  color: var(--color-fg);
}
