{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav id="navbar">
    <div id="navbar-menu">
      {{ partial "navbar-menu.html" }}
    </div>
    <ul id="navbar-list">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      <li>
        <a onclick="toggleActiveById('navbar-menu')">
          <i class="icon bx bx-menu" aria-hidden="true"></i>
          <span class="label">Menu</span>
        </a>
        <script>
          function toggleActiveById(id) {
              const element = document.getElementById(id);
              if (element) {
                  element.classList.toggle('active');
              }
          }
          document.addEventListener('click', function (event) {
            const navbar = document.getElementById('navbar');
            const menu = document.getElementById('navbar-menu');
            if (!navbar.contains(event.target)) {
              menu.classList.remove('active');
            }
          });
        </script>
      </li>
    </ul>
  </nav>
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- $icon := .Params.icon }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >
        {{- if $icon }}
          <i class="icon {{ $icon }}" aria-hidden="true"></i>
        {{- end }}
        <span class="label">{{- $name }}</span>
      </a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
